# Dependencies
node_modules/
yarn.lock
pnpm-lock.yaml

# Build output
dist/
out/
tsconfig.tsbuildinfo

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.local
.env.*.local

# Logs
*.log
npm-debug.log*

# Coverage
coverage/

# Prisma
prisma/migrations/

# PDFs
*.pdf

# DB
*.db
